# ============================================
# 🔧 Normalização de linhas (EOL) e arquivos de texto
# ============================================
* text=auto eol=lf

# ============================================
# 🧮 Arquivos de Código e Notebooks
# ============================================
*.py text diff=python
*.ipynb text diff=ipynb
